.masterDetail02140 {
  display: flex;
}

.root02197 {
  height: 100vh;
  display: flex;
  overflow: auto;
  max-width: 250px;
  flex-direction: column;
  background-color: #242426;
}

.onlyOnDesktop02200 {
  display: none;
}
@media (min-width: 1280px) {
  .onlyOnDesktop02200 {
    display: flex;
  }
}
.companyHeader02201 {
  color: #ffffff;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
@media (max-width: 1600px) {
  .companyHeader02201 {
    padding: 1rem 0;
  }
}
.companyContainer02202 {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  border-radius: 10px;
}
.companyContainer02202:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.companyLogo02203 {
  width: 48px;
  height: 48px;
  margin-right: 0.75rem;
  border-radius: 18px;
}
.companyCaret02205 {
  fill: #ffffff;
  margin-right: 0.5rem;
}
.companyNamePair02206 {
  display: flex;
  align-items: center;
}
.companyName02207 {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.25;
  margin-right: 0.5rem;
}
.companyCaption02208 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.75rem;
  line-height: 1.25;
}
.section02209 {
  color: #ffffff;
  padding: 0.75rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.item-02210 {
  display: flex;
  padding: 0.5rem;
  font-size: 1rem;
  align-items: center;
  line-height: 1.5rem;
  border-radius: 10px;
}
.item-02210:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.item-02210:focus svg {
  fill: #ffffff;
}
.item-02210:focus div {
  color: #ffffff;
}
.item-02210:hover svg {
  fill: #ffffff;
}
.item-02210:hover div {
  color: #ffffff;
}
.itemActive02211 svg {
  fill: #ffffff;
}
.itemActive02211 div {
  color: #ffffff;
  font-weight: bold;
}
.itemIcon02212 {
  fill: rgba(255, 255, 255, 0.65);
  margin-right: 0.75rem;
}
.itemName02213 {
  color: rgba(255, 255, 255, 0.65);
}
.dot02214 {
  width: 8px;
  height: 8px;
  display: none;
  margin-right: 0.75rem;
  border-radius: 4px;
  background-color: #0062ff;
}
.gap02215 {
  flex: 1;
}
.talentCloud02216 {
  color: #ffffff;
  margin: 1rem;
  display: flex;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  align-items: center;
  border-radius: 15px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}
.talentCloud02216:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.talentCloudLogo02217 {
  fill: #ffffff;
  width: 40px;
  height: 40px;
  margin-right: 0.25rem;
}

.root02218 {
  display: flex;
  align-items: center;
  font-family: MarkPro, Helvetica;
  line-height: 1.25;
  justify-content: center;
  text-decoration: none !important;
}
.light02219 {
  color: #171725;
  background-color: #ffffff;
}
.dark02220 {
  color: #ffffff;
  background-color: #0062ff;
}
.lg02221 {
  font-size: 1.25rem;
}
@media (min-width: 1280px) {
  .lg02221 {
    font-size: 3rem;
  }
}
.md02222 {
  font-size: 1.25rem;
}
.sm02223 {
  font-size: 1rem;
}

.root0261 {
  height: 100vh;
  display: flex;
  overflow: auto;
  max-width: 250px;
  flex-direction: column;
  background-color: #242426;
}
.onlyOnDesktop0264 {
  display: none;
}
@media (min-width: 1280px) {
  .onlyOnDesktop0264 {
    display: flex;
  }
}
.companyHeader0265 {
  color: #ffffff;
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
@media (max-width: 1600px) {
  .companyHeader0265 {
    padding: 1rem 0;
  }
}
.companyContainer0266 {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  border-radius: 10px;
}
.companyContainer0266:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.companyLogo0267 {
  width: 48px;
  height: 48px;
  margin-right: 0.75rem;
  border-radius: 18px;
}
.companyCaret0269 {
  fill: #ffffff;
  margin-right: 0.5rem;
}
.companyNamePair0270 {
  display: flex;
  align-items: center;
}
.companyName0271 {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.25;
  margin-right: 0.5rem;
}
.companyCaption0272 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.75rem;
  line-height: 1.25;
}
.section0273 {
  color: #ffffff;
  padding: 0.75rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.item0274 {
  display: flex;
  padding: 0.5rem;
  font-size: 1rem;
  align-items: center;
  line-height: 1.5rem;
  border-radius: 10px;
}
.item0274:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.item0274:focus svg {
  fill: #ffffff;
}
.item0274:focus div {
  color: #ffffff;
}
.item0274:hover svg {
  fill: #ffffff;
}
.item0274:hover div {
  color: #ffffff;
}
.itemActive0275 svg {
  fill: #ffffff;
}
.itemActive0275 div {
  color: #ffffff;
  font-weight: bold;
}

.itemName0277 {
  color: rgba(255, 255, 255, 0.65);
}
.dot0278 {
  width: 8px;
  height: 8px;
  display: none;
  margin-right: 0.75rem;
  border-radius: 4px;
  background-color: #0062ff;
}
.gap0279 {
  flex: 1;
}
.talentCloud0280 {
  color: #ffffff;
  margin: 1rem;
  display: flex;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  align-items: center;
  border-radius: 15px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}
.talentCloud0280:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.stroke0238 {
  stroke: #24242d;
}
.fill0239 {
  fill: #24242d;
}
.itemIcon0276 {
  fill: rgba(255, 255, 255, 0.65);
  margin-right: 0.75rem;
}

.talentCloudLogo0281 {
  fill: #ffffff;
  width: 40px;
  height: 40px;
  margin-right: 0.25rem;
}

.root023 {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.masterDetail024 {
  display: flex;
}
.main025 {
  flex: 1;
  height: 100vh;
  overflow: auto;
}
.closeIcon026 {
  cursor: pointer;
}
.warningMessageContainer027 {
  color: #d91d1d;
  border: 1px solid #d91d1d;
  height: 80px;
  margin: 15px;
  display: flex;
  padding: 0 25px;
  font-size: 16px;
  align-items: center;
  font-weight: 400;
  border-radius: 3px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e6000040;
}

.root0288 {
  margin-bottom: 1rem;
}
@media (min-width: 1280px) {
  .root0288 {
    margin-bottom: 3rem;
  }
}
.container0290 {
  height: 100%;
}
@media (min-width: 1280px) {
  .container0290 {
    padding: 0 1rem;
  }
}
.primaryText0291 {
  height: 50%;
  display: flex;
  padding: 1.875rem 0 3.125rem 0;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: MarkPro, Helvetica;
  font-weight: bold;
  line-height: 1.25rem;
  margin-left: 1rem;
}
@media (min-width: 1280px) {
  .primaryText0291 {
    padding: 4rem 0;
    font-size: 2.25rem;
    line-height: 3.8125rem;
    margin-left: 0;
  }
}
.headerContent0292 {
  border: 0;
  height: 50%;
  display: flex;
  position: relative;
  border-radius: 0;
  background-color: #ffffff;
}
@media (min-width: 1280px) {
  .headerContent0292 {
    width: auto;
    transform: unset;
    border-bottom: 1px solid #f3f3f3;
    border-radius: 20px 20px 0 0;
  }
}
.headerContentWhite0293 {
  border-top: 1px solid #f3f3f3;
  box-shadow: 0px -5px 60px 10px #f0f3fb;
  border-left: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
}
.logo0294 {
  width: 80px;
  border: 4px solid #f4f4f5;
  height: 80px;
  margin: -1.25rem 1rem 0.625rem 1rem;
  box-sizing: border-box;
  border-radius: 10px;
}
@media (min-width: 1280px) {
  .logo0294 {
    width: 168px;
    border: 6px solid #f4f4f5;
    height: 168px;
    margin: -1.5rem 2.5rem 1.5rem 2.5rem;
    border-radius: 20px;
  }
}
.desktopInfo0295 {
  display: none;
}
@media (min-width: 1280px) {
  .desktopInfo0295 {
    display: block;
    margin-top: 1.875rem;
  }
}
.mobileInfo0296 {
  margin-left: 1rem;
}
@media (min-width: 1280px) {
  .mobileInfo0296 {
    display: none;
  }
}
.name0297 {
  font-size: 1rem;
  font-family: MarkPro, Helvetica;
  font-weight: bold;
  line-height: 1.25;
}
@media (min-width: 1280px) {
  .name0297 {
    font-size: 1.5rem;
  }
}
.secondaryText0298 {
  margin: 0.25rem 0 0 0;
  font-size: 0.875rem;
  font-family: MarkPro, Helvetica;
  font-weight: 500;
  line-height: 1.25;
}
@media (min-width: 1280px) {
  .secondaryText0298 {
    margin: 0.25rem 0 1.125rem;
    font-size: 0.875rem;
  }
}
.row0299 {
  display: flex;
}
.column02100 {
  display: flex;
}
.column02100:first-child {
  margin-right: 4.6875rem;
}
.label02101 {
  color: #696974;
  font-size: 0.875rem;
  font-family: MarkPro, Helvetica;
  line-height: 1.375rem;
  margin-right: 1.875rem;
}
.value02102 {
  color: #171725;
  font-size: 0.875rem;
  font-family: MarkPro, Helvetica;
  font-weight: 500;
  line-height: 1.375rem;
}
.content02103 {
  border-radius: 0 0 20px 20px;
  background-color: #ffffff;
}
.buttonGroup02104 {
  flex: 1;
  margin: 1rem 1rem 0 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .buttonGroup02104 {
    margin: 1.875rem 1.875rem 0 0;
  }
}
.buttonContainer02105 {
  margin-bottom: 0.5rem;
}
@media (min-width: 1280px) {
  .buttonContainer02105 {
    margin-bottom: 1.875rem;
  }
}
.expandButton02106 {
  display: none;
  padding: 2px;
  transition: all 0.3s ease;
  padding-left: 12px;
  border-radius: 14px;
}
@media (min-width: 1280px) {
  .expandButton02106 {
    display: flex;
  }
}

.expandButton02106:hover {
  background-color: #f4f4f5 !important;
}

.expandButton02106:focus {
  background-color: #e9e9ea !important;
}

.expandButton02106:active {
  transform: scale(0.98);
  background-color: #d3d3d5 !important;
}

.expandButton02106:focus div {
  background-color: #ffffff !important;
}

.expandButton02106:hover div {
  background-color: #ffffff !important;
}

@media (min-width: 1280px) {
  .hiddenOnDesktop02107 {
    display: none !important;
  }
}

.caret02108 {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
  margin-left: 0.5625rem;
  border-radius: 12px;
  background-color: #f4f4f5;
}

.expandedContent02109 {
  border: 0;
  display: flex;
  box-shadow: 0px 5px 60px 10px #f0f3fb;
  border-radius: 0;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .expandedContent02109 {
    display: flex;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    border-radius: 0px 0px 20px 20px;
  }
}
.expandedContentTop02110 {
  flex: 1;
  display: grid;
  padding: 1rem 1rem;
  z-index: 1;
  grid-gap: 1rem;
  border-bottom: 1px solid #f3f3f3;
  background-color: #ffffff;
  grid-template-columns: 1fr;
}
@media (min-width: 1280px) {
  .expandedContentTop02110 {
    margin: 0;
    padding: 1.875rem 2.5rem;
    grid-template-columns: repeat(5, 1fr);
  }
}
.expandedContentBottom02111 {
  flex: 1;
  padding: 1rem;
}
@media (min-width: 1280px) {
  .expandedContentBottom02111 {
    padding: 2.5rem;
  }
}
.capsuleGroup02112 {
  display: flex;
}
.capsule02113 {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  border-radius: 8px;
  background-color: #f2f2fc;
}
.capsule02113 div {
  background-color: #f2f2fc;
}
@media (min-width: 1280px) {
  .capsule02113 {
    width: 3rem;
    height: 3rem;
    border-radius: 18px;
    background-color: #ede3ff !important;
  }
  .capsule02113 div {
    background-color: #ffffff;
  }
}
.capsuleIcon02114 {
  fill: #24242d;
  width: 1.125rem;
  height: 1.125rem;
}
@media (min-width: 1280px) {
  .capsuleIcon02114 {
    fill: #7529fb;
  }
}
.capsuleLabelValuePair02115 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.capsuleLabel02116 {
  color: #171725;
  font-size: 0.75rem;
  font-family: MarkPro, Helvetica;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 0.25rem;
}
@media (min-width: 1280px) {
  .capsuleLabel02116 {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25rem;
  }
}
.capsuleValuePrimary02117 {
  color: #0062ff;
  font-size: 0.875rem;
  font-family: MarkPro, Helvetica;
  font-weight: 500;
  line-height: 1.25;
}
@media (min-width: 1280px) {
  .capsuleValuePrimary02117 {
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1rem;
  }
}
.capsuleValueSecondary02118 {
  color: #696974;
  font-size: 0.875rem;
  font-family: MarkPro, Helvetica;
  line-height: 1rem;
}
.aboutLabel02119 {
  font-size: 0.875rem;
  font-family: MarkPro, Helvetica;
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 0.625rem;
}
@media (min-width: 1280px) {
  .aboutLabel02119 {
    font-size: 1rem;
  }
}
.aboutContent02120 {
  color: #696974;
  font-size: 0.875rem;
  font-family: MarkPro, Helvetica;
  line-height: 1.375rem;
}
.button02122 {
  padding: 0.625rem 0.875rem;
  font-size: 0.75rem;
  line-height: 1.25;
  border-radius: 8px;
}
@media (min-width: 1280px) {
  .button02122 {
    padding: 0.875rem 1.75rem;
    font-size: 1rem;
    line-height: 1.25rem;
    border-radius: 10px;
  }
}

.marginOnMobile02123 {
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}
@media (min-width: 1280px) {
  .marginOnMobile02123 {
    margin: auto;
    max-width: 1280px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 1280px) {
  .alwaysNoMargin02124 {
    margin: auto;
    max-width: 1280px;
  }
}

.root0282 {
  display: flex;
  align-items: center;
  font-family: MarkPro, Helvetica;
  font-weight: 500;
  line-height: 1.25;
  justify-content: center;
  text-decoration: none !important;
}
.light0283 {
  color: #171725;
  background-color: #ffffff;
}
.dark0284 {
  color: #ffffff;
  background-color: #0062ff;
}
.lg0285 {
  font-size: 1.25rem;
}
@media (min-width: 1280px) {
  .lg0285 {
    font-size: 3rem;
  }
}
.md0286 {
  font-size: 1.25rem;
}
.sm0287 {
  font-size: 1rem;
}

.root0218 {
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: MarkPro, Helvetica;
  justify-content: center;
  text-decoration: none;
}
.root0218:hover,
.root0218:focus {
  outline: none;
  text-decoration: none;
}
.root0218:disabled {
  color: #8c8c91;
  background-color: #dcdcdc;
}
.root0218:disabled:hover,
.root0218:disabled:focus {
  color: #8c8c91;
  background-color: #dcdcdc;
}
.animation-0-2-19 {
  transition: all 0.3s ease 0s;
}
.sizeZero-0-2-20 {
  padding: 0;
  font-size: 1rem;
  line-height: 1.25rem;
}
.sizeXs-0-2-21 {
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
  line-height: 0.875rem;
  border-radius: 7.5px;
}
.sizeSm-0-2-22 {
  padding: 0.75rem 1.25rem;
  font-size: 0.875rem;
  line-height: 1rem;
  border-radius: 10px;
}
.sizeMd0223 {
  padding: 0.875rem 1.75rem;
  font-size: 1rem;
  line-height: 1.25rem;
  border-radius: 10px;
}
.sizeMdNarrow-0-2-24 {
  padding: 0.875rem 1rem;
  font-size: 1rem;
  line-height: 1.25rem;
  border-radius: 10px;
}
.sizeLg-0-2-25 {
  padding: 1.4rem 3.25rem;
  font-size: 1rem;
  line-height: 1.25rem;
  border-radius: 10px;
}
.variantPrimary-0-2-26 {
  color: #ffffff;
  background-color: #24242d;
}
.variantPrimary-0-2-26:hover {
  color: #ffffff;
  background-color: #171725;
}
.variantPrimary-0-2-26:focus {
  box-shadow: 0px 0px 0px 2px #24242d;
}
.variantPrimary-0-2-26:active {
  box-shadow: unset;
  background-color: #000000;
}
.variantSecondary-0-2-27 {
  color: #171725;
  background-color: #f4f4f5;
}
.variantSecondary-0-2-27:hover {
  color: #171725;
  background-color: #e9e9ea;
}
.variantSecondary-0-2-27:focus {
  box-shadow: 0px 0px 0px 2px #fafafb;
}
.variantSecondary-0-2-27:active {
  box-shadow: unset;
  background-color: #d3d3d5;
}
.variantAccent-0-2-28 {
  color: #ffffff;
  background-color: #3381ff;
}
.variantAccent-0-2-28:hover {
  color: #ffffff;
  background-color: #1a72ff;
}
.variantAccent-0-2-28:focus {
  box-shadow: 0px 0px 0px 2px #3381ff;
}
.variantAccent-0-2-28:active {
  box-shadow: unset;
  background-color: #0062ff;
}
.variantOutline-0-2-29 {
  color: #171725;
  border: 2px solid #f4f4f5;
  background-color: #ffffff;
}
.variantOutline-0-2-29:hover {
  background-color: #f4f4f5;
}
.variantOutline-0-2-29:focus {
  border: 2px solid #d3d3d5;
}
.variantOutline-0-2-29:active {
  background-color: #e9e9ea;
}
.variantOrange-0-2-30 {
  color: #ffb47d;
  background-color: #fff5ed;
}
.variantOrange-0-2-30:hover {
  color: #ffffff;
  background-color: #ffb47d;
}
.variantOrange-0-2-30:focus {
  color: #ffffff;
  background-color: #ff974a;
}
.variantBlank0231 {
  color: #171725;
  background-color: unset;
}
.weightLight-0-2-32 {
  font-weight: normal;
}
.weightMedium0233 {
  font-weight: 500;
}
.weightBold-0-2-34 {
  font-weight: bold;
}
.spinnerWhite-0-2-35 {
  width: 20px;
  height: 20px;
  stroke: #ffffff;
  margin-right: 0.375rem;
}
.spinnerBlack-0-2-36 {
  width: 20px;
  height: 20px;
  stroke: #171725;
  margin-right: 0.375rem;
}
.disabled-0-2-37 {
  color: #8c8c91;
  background-color: #dcdcdc;
}
.disabled-0-2-37:hover,
.disabled-0-2-37:focus {
  color: #8c8c91;
  background-color: #dcdcdc;
}

.root0256 {
  display: flex;
  align-items: center;
  border-radius: 18px;
  justify-content: center;
  background-color: #f3f3f3;
}
.sizeMd0257 {
  width: 3rem;
  height: 3rem;
}
.sizeLg0258 {
  width: 3.625rem;
  height: 3.625rem;
}
.rectangle0259 {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  border-radius: 12px;
  justify-content: center;
  background-color: #ffffff;
}
.circle0260 {
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
  border-radius: 15px;
  justify-content: center;
  background-color: #ffffff;
}
